@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <img src="img/icono.png" style="width:10%;height:5%" />
    <p>Prueba Readarbour.</p>
</div>
